PySide6>=6.5
python-dotenv>=1.0
opencv-python>=4.8
opencv-contrib-python>=4.8
scikit-image>=0.21
faster-whisper>=1.0
google-generativeai>=0.4
openai>=1.0
anthropic>=0.20
requests>=2.31
Pillow>=10.0
pyinstaller>=6.0
numpy>=1.26
dashscope>=1.14
matplotlib>=3.8
